<<<<<<< HEAD
th {
  cursor: pointer;
}

=======
>>>>>>> a964c7509136edcd751613dec32f4baa7dd692e9
#search {
  padding-top: 5%;
}

#content {
  padding-top: 5%;
  text-align: center;
}

/* Loader */
.loading-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: fixed;
    top: 50%;
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 82px;
  height: 82px;
  margin: 1px;
  border-radius: 50%;
  border: 7px solid #007bff;
  border-color: #007bff transparent #007bff transparent;
  animation: loading-ring 1.2s linear infinite;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader */

.hidden {
  display: none;
}

#content table tbody td:nth-child(2) {
  text-align: left;
}

.masterymark {
  display: inline-block;
  width: 23px;
  height: 24px;
}

.mastery1 {
  background: url(../img/mastery/1.png) no-repeat center;
}

.mastery2 {
  background: url(../img/mastery/2.png) no-repeat center;
}

.mastery3 {
  background: url(../img/mastery/3.png) no-repeat center;
}

.mastery4 {
  background: url(../img/mastery/4.png) no-repeat center;
}


.tanktype {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.AT-SPG {
  background: url(../img/tanktypes/td.svg) no-repeat center;
  height: 14px;
}

.lightTank {
  background: url(../img/tanktypes/light.svg) no-repeat center;
}

.mediumTank {
  background: url(../img/tanktypes/med.svg) no-repeat center;
}

.heavyTank {
  background: url(../img/tanktypes/heavy.svg) no-repeat center;
}

.SPG {
  background: url(../img/tanktypes/arty.svg) no-repeat center;
  height: 14px;
}

.moe {
  height: 30px;
}


@media (min-width: 1200px) {
  .container {
      max-width: 1600px;
  }
}