
th {
  cursor: pointer;
}

#search {
  padding-top: 2.5%;
}

#content {
  padding-top: 2.5%;
  text-align: center;
}

.loading-wrapper {
  margin: 20vh auto;
}

#loading-text {
  display: block;
  margin: 1rem auto;
}

/* Loader */
.loading-ring {
  display: inline-block;
}

.loading-ring:after {
  content: " ";
  display: block;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 7px solid #007bff;
  border-color: #007bff transparent #007bff transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader */

#name {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

#general th:first-child {
  text-align: left;
}

#tanks tbody td:first-child {
  width: 5%;
  text-align: left;
}

#tanks tbody td:nth-child(2) {
  width: 25%;
  text-align: left;
}

.masterymark {
  display: inline-block;
  width: 23px;
  height: 24px;
}

.mastery1 {
  background: url(../img/mastery/1.png) no-repeat center;
}

.mastery2 {
  background: url(../img/mastery/2.png) no-repeat center;
}

.mastery3 {
  background: url(../img/mastery/3.png) no-repeat center;
}

.mastery4 {
  background: url(../img/mastery/4.png) no-repeat center;
}


.tanktype {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.AT-SPG {
  background: url(../img/tanktypes/td.svg) no-repeat center;
  height: 14px;
}

.lightTank {
  background: url(../img/tanktypes/light.svg) no-repeat center;
}

.mediumTank {
  background: url(../img/tanktypes/med.svg) no-repeat center;
}

.heavyTank {
  background: url(../img/tanktypes/heavy.svg) no-repeat center;
}

.SPG {
  background: url(../img/tanktypes/arty.svg) no-repeat center;
  height: 14px;
}

.moe {
  height: 30px;
}

#general td, #general th {
  padding: .6rem;
}

#general {
  table-layout: fixed;
}

.sort span,
.desc span,
.asc span {
  pointer-events: none;
  width: 10px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
}

.sort span {
  content: url(../img/icons/sort.svg);
}

.asc span {
  content: url(../img/icons/sort-up.svg);
}

.desc span {
  content: url(../img/icons/sort-down.svg);
}

@media (min-width: 1200px) {
  .container {
      max-width: 1600px;
  }
}